---
import { Image } from "astro:assets";
import { insuranceData } from "@/data/insuranceData";
import BlackMobileIcon from "@/assets/icons/black-phone.svg";
import { commonBtnsData } from "@/data/commonBtnsData";
import Callbtn from "./Callbtn.astro";
---

<section
  class="max-w-[1200px] mx-auto bg-[#553665] text-white rounded-sm text-center mb-[80px] mt-16 md:mt-24 px-6 sm:px-4 py-16"
>
  <h2 class="text-4xl font-medium font-Bodonitown md:text-[40px]">
    {insuranceData.heading}
  </h2>
  <p class="mt-2 text-xl">{insuranceData.subheading}</p>

  <div
    class="flex max-w-[900px] w-full mx-auto items-center justify-center flex-wrap gap-6 mt-[54px]"
  >
    {
      insuranceData.brands.map((item, index) => (
        <div>
          <Image src={item.image} alt={`Brand ${index + 1}`} />
        </div>
      ))
    }
  </div>

  <p class="max-w-[674px] mx-auto mt-[54px] text-xl">
    {insuranceData.description}
  </p>

  <Callbtn/>
  <p class="mt-2 text-xl">{insuranceData.btnbelowtext}</p>
</section>
